/*
*CSS LookShop
*/
/*HEADER TOP*/
.text-tra{text-transform: uppercase;}
.font-1{font-size: 22px;}
.font-2{font-size: 12px;}
.bg-top{position: relative; background-color: #000; color: #fff; font-size: 12px;}
.header-top-left, .social-site-left{display: table; float: left; line-height: 30px;}
.header-top-left a{color: #fff; padding-left: 10px;}
.header-top-right, .social-site-left-right{
    display: table;
    float: right;
    line-height: 30px;
}
.title-top-left, .social-item{
    display: table;
    float: left;
}
.header-top-right .bootstrap-select {
    width: auto !important;
}
.header-top-right .bootstrap-select button{
    background-image: none;
    background-color: transparent;
    border: 0px;
    color: #fff;
    padding: 6.5px 25px;
    font-size: 12px;
    text-shadow: 0 0px 0 #fff;
    box-shadow: inset 0 0px 0 rgba(255,255,255,0.15), 0 0px 0px rgba(0,0,0,0.075);
    border: 1px solid #444444;
    border-radius: 0px;
    border-top: 0px;
    border-bottom: 0px;
}
.top-myaccount i{color: #666; padding-right: 10px;}
.top-myaccount{padding: 0px 15px;}
.header-top-right .bootstrap-select, .top-myaccount, .top-search{display: table; float: left !important;}
.top-search{
    border: 1px solid #444444;
    border-radius: 0px;
    border-top: 0px;
    border-bottom: 0px;
    padding: 0px 15px;
}
.header-top-right .btn-group.open .dropdown-toggle{
    box-shadow: inset 0 0px 0px rgba(0,0,0,0.125);
}
.header-top-right .btn-default:active, .btn-default.active, .header-top-right .open>.dropdown-toggle.btn-default {
    color: #fff;
    background-color: transparent;
    border-color: #444444;
}
.bootstrap-select .dropdown-toggle:focus {
    outline: thin dotted #444444!important;
     outline: 0px auto -webkit-focus-ring-color!important;
    outline-offset: 0px;
}
a:focus {
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}
/*END HEADER TOP*/
/*HEADER BOTTOM*/
.header-bottom .navbar-default{
    background-image: none;
    box-shadow: inset 0 0px 0 rgba(255,255,255,0.15), 0 0px 0px rgba(0,0,0,0.075);
    background-color: transparent;
    border-color: transparent;
    border-radius: 0px;
}

.your-cart{
    display: inline-block;
    border: 1px solid #d6d6d6;
    width: 241px;
    color: #949393;
    float: right;
}
.your-cart-mobile{
    display: none;
}
.your-cart-top{
    border-bottom: 1px solid #d6d6d6;
    padding: 6px 13px 6px 9px;
}
.your-cart-top i{
    float: right;
}
.your-cart-bottom{
    padding: 6px 13px 6px 9px;
    background-color: #fafafa;
}
.text-float-right{
    display: inline-block;
    float: right;
}
.navbar-default{
    padding-top: 20px;
}
.navbar-default .navbar-nav{
    margin: 0 10px 0px 0px;
}
.navbar-default .navbar-nav>li>a{
    color: #000000;
}
.navbar-default .dropdown >a{
    padding: 24px 15px;
    font-size: 16px;
}
.navbar-default .navbar-brand{
    padding: 24px 15px;
}
.navbar-default .navbar-collapse{
    padding-right: 0;
}
.show-mobile-iphone{
    display: none;
}

/*END HEADER BOTTOM*/
/*SLIDER Swiper*/
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide img {
    display:block;
    width: 100%;
    max-width: 100%;
    height: auto;

}
.swiper-container{position: static;}
.slider-site{position: relative; padding-bottom: 75px;}
.swiper-pagination-bullet{
    width: 10px;
    height: 10px;
}
.swiper-pagination-bullet-active {
    background: #fd926d;
}
.swiper-container-horizontal>.swiper-scrollbar {
    position: absolute;
    left: 1%;
    bottom: 75px;
    z-index: 50;
    height: 7px;
    width: 100%;
}
.slider-site .swiper-button-prev, .slider-site .swiper-button-next{
    background-color: #fdfcfb;
    padding: 60px 15px;
    top: 38%;
}
.slider-site .swiper-button-next{right: 0px;}
.slider-site .swiper-button-prev{left: 0px;}
.btn-shopnow{
    position: absolute;
    top: 65%;
    z-index: 1;
    left: 24%;
    background-color: #fd926d;
    padding: 16px 26px;
    border-bottom: 3px solid #dd6b44;
}
.btn-shopnow a, .btn-shopnow i {
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
}
.btn-shopnow a{padding-right: 10px;}
.btn-shopnow a:hover{
    text-decoration: none;
}
.slider-site .swiper-container-horizontal>.swiper-pagination-bullets{bottom: 5%}
/*END SLIDER Swiper*/
/*CSS Social Site*/
.bg-social-site{position: relative; background-color: #ededed;}
.social-site-left form.form-inline{
    display: table;
    line-height: 55px;
}
.social-item{width: 55px; line-height: 55px; text-align: center; cursor: pointer;}
.social-item i:hover{color: #fd926d}
.social-site-left-right .title-top-left, .social-site-left .title-top-left{line-height: 55px; font-size: 12px; padding-right: 20px}
.socail-face, .sicial-pinterest{background-color: #f7f7f7;}
.social-site-left form.form-inline input{
    border: 0px;
    border-radius: 0px;
    height: 28px;
}
.social-site-left form.form-inline .input-group-addon{
    border: 0px;
    background-color: #fd926d;
    border-radius: 0px;
    border-bottom: 2px solid #dd6b44;
}
.social-site-left form.form-inline .input-group-addon i{color: #fff;}
.form-control{box-shadow: inset 0 0px 0px rgba(0,0,0,0.075);}
.form-control:focus{
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075), 0 0 0px rgba(102, 175, 233, 0.6);
}
.social-item a{color: #6c6c6c;}
/*END CSS Social Site*/

/*CSS Banner*/
.bg-banner{padding: 40px 0px;}
.banner3{
    float: left;
    padding-right: 2px;
}
.banner4, .banner3{
    width: 100%;
    max-width: 50%;
    display: table;
    position: relative;
}
.banner-item{padding: 0px;}
.banner-item img{width: 100%;}
/*.banner3-4 img{width: auto;}*/
.banner-1{padding-right: 2px;}
.banner-2{padding-bottom: 2px;}
.banner-btn-shopnow{
    position: absolute;
    bottom: 18px;
    z-index: 1;
    left: 30px;
    background-color: #4fafa0;
    padding: 5px 14px;
}
.banner-btn-shopnow a{padding-right: 5px;}
.banner-btn-shopnow a, .banner-btn-shopnow i{color: #fff; font-size: 12px;}
/*END Css Banner*/

/*CSS Slider Tabs*/
#slider-tabs{
    position: relative;
}

/*.slider {
    width: 50%;
    margin: 100px auto;
}*/

.slick-slide {
    margin: 30px 15px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}
.content-slider-tabs .nav{padding-left: 15px;}
.content-slider-tabs ul.nav-pills li a{text-transform: uppercase; font-size: 15px; color: #555555; padding: 13px 15px;}
.content-slider-tabs .nav-pills>li.active>a, .content-slider-tabs .nav-pills>li.active>a:hover, .content-slider-tabs .nav-pills>li.active>a:focus,
.content-slider-tabs .nav>li>a:hover, .content-slider-tabs .nav>li>a:focus
{
    background-color: #fd926d;
    border-radius: 0px;
    color: #fff;
}
.content-slider-tabs  .nav-pills>li>a {
    border-radius: 0px;
}
.content-slider-tabs .slick-list{background-color: #fd926d;}
.info-product-slider{
    background-color: #f7f7f7;
    text-align: center;
    padding: 11px 0px;
}
.title-slider-tabs{
    font-size: 12px;
    text-transform: uppercase;
    color: #373737;
}
.addtocart-slider-tabs a, .addtocart-slider-tabs i{
    color: #fff;
}
.addtocart-slider-tabs a{padding-right: 10px;}
.addtocart-slider-tabs a:hover{text-decoration: none;}
.addtocart-slider-tabs{
    display: table;
    margin: auto;
    background-color: #fd926d;
    padding: 5px 7px;
    border-bottom: 3px solid #dd6b44;
}
:focus {
    outline: -webkit-focus-ring-color auto 0px;
}
.content-slider-tabs .slick-slide:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}
.content-slider-tabs .slick-prev, .content-slider-tabs .slick-next{
    top: -4%;
}
.content-slider-tabs .slick-prev {
    left: 78.8%;
}
.content-slider-tabs .slick-next {
    right: 14.2%;
}
.shot-it{
    position: absolute;
    top: 22%;
    left: 24%;
    color: #fff;
    text-align: center;
    background-color: #3d3d3d;
    border-radius: 50%;
    padding: 44px;
    cursor: pointer;
    display: none;
}
.content-slider-tabs .slick-slide:hover .shot-it{display: block;}
.content-slider-tabs .slick-prev:before, .content-slider-tabs .slick-next:before{
    content: "";
}
.content-slider-tabs .slick-prev{
    background-image: url("../imgaes/pixel_arrows_r2_c2-copy-4.png");
    background-repeat: no-repeat;
    width: 47px;
    height: 47px;
    background-position: center;
    background-color: #f2f2f2;
}
.content-slider-tabs .slick-next{
    background-image: url("../imgaes/pixel_arrows_r2_c2-copy-3.png");
    background-repeat: no-repeat;
    width: 47px;
    height: 47px;
    background-position: center;
    background-color: #fd926d;
}
.content-item-slider-tabs{position: relative;}
.sale-product-slider-tabs img{width: auto;}
.sale-product-slider-tabs{position: absolute; top:0;}
/*END CSS Slider Tabs*/

/*CSS Off*/
#favourite-brands{
    padding: 50px 0px 0px;
}
.title-off{
    position: relative;
    padding: 25px 0px;
    text-align: center;
}
.item-product img{width: 100%;}
.title-favourite-brands{
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    display: table;
    width: 100%;
    position: relative;
}


.title-off:before, .title-favourite-brands:before {
    content: "";
    display: block;
    border-top: solid 1px #d8d8d8;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
    z-index: 0;
}

.title-off img {
    position: relative;
    padding: 0px 15px;
    background-color: #fff;
}
.title-favourite-brands span{
    position: relative;
    z-index: 1;
    background-color: #fff;
    padding: 0px 15px;
    color: #414141;
}
.content-favourite-brands img{text-align: center;}

.content-favourite-brands .col-item{
    display: table;
    float: left;
    height: 80px;
    display: flex;
}
.content-favourite-brands .col-item img{
    display: table-cell;
    vertical-align: middle;
    margin: auto;
}
.content-favourite-brands{
    display: table;
    width: 100%;
    position: relative;
}
.col-1{
    width: 100%;
    max-width: 11%;
}
.col-1 img{float: left;}
.col-5{
    width: 100%;
    max-width: 13%;
}
.col-2, .col-4, .col-3{
    width: 100%;
    max-width: 11%;
}

.col-7, .col-6{
    width: 100%;
    max-width: 14%;
}
/*END CSS Off*/

/*CSS About Lookshop*/
#title-about-lookshop h3{
    text-align: center;
    border-top: 1px solid #ddd;
    padding: 25px 0px 15px 0px;
    color: #414141;
}
#about-lookshop .content-lookshop{
    color: #999;
    margin-bottom: 20px;
    text-align: center;
}
/*END CSS About Lookshop*/

/*Css We Accect*/
#we-accept{
    background-color: #F7F7F7;
}
#we-accept .title-we-accept{
    display: table;
    float: left;
    padding-right: 20px;
    color: #414141;
}
.bg-we-accept{
    margin: auto;
    display: table;
    line-height: 60px;
}
#we-accept .content-we-accept{
    display: table;
}
/*END CSS We Accect*/

/*CSS Services*/
.bg-service{
    padding: 30px 0px;
    background-color: #ededed;
}
.bg-service .titile-service{
    font-size: 16px;
    font-weight: bold;
    color: #544f4d;
    margin-bottom: 15px;
}
.content-service ul{
    list-style: none;
    padding-left: 0px;
    line-height: 22px;
}
.content-service ul li a{
    color: #544f4d;
}
.content-social-service ul li{
    display: table;
    float: left;
    width: 35px;
    height: 35px;
    background-color: #4c4c4b;
    border-radius: 50px;
    text-align: center;
    margin-right: 8px;
    margin-bottom: 8px;
}
.content-social-service ul li a i{
    color: #fff;
    line-height: 35px;
}
.images-service{
    text-align: center;
    margin-top: 3%;
}
/*END CSS Services*/

/*CSS Footer*/
.bg-footer{
    background-color: #000000;
    line-height: 74px;
}
.footer-left{
    display: table;
    float: left;
}
.footer-right{
    float: right;
    color: #8d8d8d;
    line-height: 22px;
    padding: 15px 0px;
}
.footer-left ul.font-2{
    padding-left: 0px;
    list-style: none;
}
.footer-left ul.font-2 li{
    float: left;
}
.footer-left ul.font-2 li a{
    color: #8d8d8d;
}
.footer-left ul.font-2 li a span{
    margin: 0px 10px;
}

.social-responsive, .images-service-responsive{
    display: none;
}
.desktop-campaigns, .your-cart-desktop, .stores-desktop{
    display: block !important;
}
/*END CSS Footer*/

/*Responsive*/
@media (min-width: 1920px){
    .content-slider-tabs .slick-prev, .content-slider-tabs .slick-next {
        top: -3.1%;
    }
    .content-slider-tabs .slick-next {
        right: 24.8%;
    }
    .content-slider-tabs .slick-prev {
        left: 70.3%;
    }
}

@media screen and (max-width: 767px){
    .container .navbar-header{
        margin: 0;
    }
    .navbar-default{
        margin-bottom: 15px;
    }
    .navbar-header .menu-mobile{
        width: 100%;
        margin: 0;
        border-radius: 0;
        display: table;
        background-color: #fd926d;
        color: #FFF;
        font-weight: bold;
    }
    .navbar-header .menu-mobile >p{
        display: table-cell;
        margin: 0;
        vertical-align: middle;
        padding-left: 18px;
    }
    .navbar-header .menu-mobile button{
        display: table-cell;
        border: 0;
        border-radius: 0;
        background-color: transparent;
        margin: 6px 15px 6px 0;
    }
    .navbar-header .menu-mobile button:hover{
        background-color: transparent;
    }
    .navbar-header .menu-mobile button:focus{
        background-color: transparent;
    }
    .navbar-default .navbar-toggle .icon-bar{
        background-color: #FFF;
        height: 4px;
    }
    .your-cart-mobile{
        display: inline-block;
        margin-bottom: 20px;
    }

    .navbar-default .navbar-collapse{
        border: 0;
    }
    .navbar-default .dropdown >a{
        padding: 10px 15px;
    }

    .content-slider-tabs .slick-prev, .content-slider-tabs .slick-next {
        top: -6.9%;
    }
    .content-slider-tabs .slick-next {
        right: 2%;
    }
    .content-slider-tabs .slick-prev {
        left: 85.8%;
    }
    .item-off-responsive, .col-7, .col-8, .desktop-campaigns, .your-cart-desktop, .stores-desktop{
        display: none !important;
    }
    .col-6 {
        width: 100%;
        max-width: 24%;
    }
    .col-5, .col-2, .col-4, .col-3, .col-1 {
        width: 100%;
        max-width: 15%;
    }
    .social-site-left form.form-inline .form-group{
        margin-bottom: 0px;
    }
    .social-site-left form.form-inline{
        padding: 13px 0px;
    }
    .btn-shopnow{
        padding: 7px 23px;
        left: 20%;
        top: 57%;
    }
    .slider-site .swiper-button-prev, .slider-site .swiper-button-next{
        top: 28%;
    }
    .banner-btn-shopnow{
        bottom: 10px;
    }
    .social-responsive, .images-service-responsive{
        display: block;
    }
    .service-item{
        height: 100%;
        min-height: 180px;
        margin-bottom: 20px;
    }
    .images-service{
        text-align: inherit;
    }
}
@media screen and (max-width: 640px){
    .navbar-default .navbar-brand{
        width: 100%;
        float: none;
    }
    .your-cart-mobile{
        width: 100%;
    }
    .your-cart-mobile .your-cart-top{
        display: none;
    }
    .show-mobile-iphone{
        display: block;
        margin-top: 28px;
    }
    .navbar-brand img{
        width: 50%;
        margin: 0 auto;
    }
    .your-cart-bottom{
        padding: 22px 28px;
    }
    .your-cart .your-cart-bottom img{
        width: 56px;
    }
    .navbar-header .menu-mobile >p{
        font-size: 30px;
        font-weight: 500;
    }
    .navbar-default .navbar-toggle .icon-bar{
        height: 8px;
        width: 32px;
    }
    .your-cart .text-float-right{
        font-size: 30px;
    }
    .show-mobile-iphone .form-email{
        display: table;
        width: 100%;
        background-color: #ededed;
    }
    .form-email input{
        display: table-cell;
        width: 100%;
    }
    .form-email .submit-email{
        display: table-cell;
        text-align: center;
        width: 97px;
        padding: 23px 0;
        background-color: #fd926d;
    }
    .form-email .submit-email i{
        font-size: 51px;
        color: #fff;
    }
    .form-email input{
        font-size: 30px;
        border: 0;
        background-color: transparent;
        padding-left: 32px;
    }
}
/*End Responsive*/